body {
  position: relative;
  height: 100%;
}
.skills-hr {
  float: none;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.dropdown-toggle {
  color: #777;
  text-decoration: none;
}
.dropdown-toggle:hover {
  color: #555
}
.dropdown:visited {
  text-decoration: none;
}
.nav .open > a {
  text-decoration: none;
  color: #555;
}
.dropdown {
 padding: 15px;
}
.dropdown-menu {
  margin: 0;
}
@media(min-width: 768px) {
  #skills {
    width: 100% !important;
  }
}

