body {
  position: relative;
  height: 100%;
}
.skills-hr {
  float: none;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.dropdown-toggle {
  color: #777;
  text-decoration: none;
}
.dropdown-toggle:hover {
  color: #555
}
.dropdown:visited {
  text-decoration: none;
}
.container .topnav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.container .topnav, .navbar {
  min-height: 70px;
}
.nav {
  margin: auto;
}
.navbar-brand {
  color: #777;
  font-size: 4vh;
  font-weight: 300;
}
.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav .open > a {
  text-decoration: none;
  color: #555;
}
.navbar-toggle {
  margin-top: 20px;
}
.dropdown {
 padding: 25px;
 padding-right: 0;
}
.dropdown-menu {
  margin: 0;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1.2em;
  color: #777;
  font-weight: 500;
}
.content-overlay {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
}
.clear {
  background: rgba(0,0,0,0);
}
.intro-header {
  height: 95vh;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;

  background: url(../img/sunsetlarge.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.intro-message h1 {
  font-size: 8vh;  
}
.intro-message h3 {
  opacity: 1;
  font-size: 4vh;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;  
}
.intro-message h1, .intro-divider, .intro-social-buttons {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.intro-message h1.opaque, .opaque, #contact .row.opaque {
  opacity: 0
}
.intro-message h3.opaque {
  opacity: 0;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
}
.headshot-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 50%;
}
.headshot {
  width: 50vh;
  height: 50vh;
  color: #f8f8f8;
  background: url(../img/menew.jpg) no-repeat center center;
  background-size: cover;
}
.section-heading a {
  cursor: pointer;
}
.section-heading.skills {
  margin-bottom: 0;
}
.tech-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
}
.tech-title h3 {
  font-weight: 300;
}
.tech-list {
  margin: 0;
  padding: 0;
}
.tech-list li {
  font-weight: 500;
}
.section-heading {
  letter-spacing: 1px;
  font-weight: 500;
}
.section-heading-spacer {
  border-top: 1px solid #ccc;
}
.lead {
  font-size: 2.25vh;
  font-weight: 100;
  letter-spacing: 1px;
}
#skills .col-lg-8 {
  width:  80%;
}
.project {
  border: 2px solid transparent;
  border-radius: 0;
  /*opacity: .75;*/
  transition: all .5s;
}
.banner {
  height: 80vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.banner .row {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
}
.banner h2 {
  font-size: 8vh;
  margin-bottom: 5%;
}
footer {
  display: none;
}
#contact.banner {
  height: 110vh;
}
#contact .row {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;  
}
@media (min-width: 1200px) {
  .col-lg-offset-1, .col-lg-offset-2, .col-lg-5 {
    width: 50%;
  }
  .col-lg-offset-1, .col-lg-offset-2 {
    margin-left: 0;
  }
  .col-lg-6 {
    width:  auto;
  }
  .col-lg-8 {
    max-width: 90%;
  }
}

@media(min-width: 768px) {
  #skills {
    width: 100% !important;
  }
}
@media screen and (max-width: 668px) {
  .navbar {
    min-height: 60px;
  }
  .intro-header {
    height: 85vh;
  }
  .intro-divider {
    width: 20%;
  }
  .row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content-section-a, .content-section-b {
    padding: 25px 0 45px 0;
  }
  .headshot-wrapper {
    width: 100%;
  }
  .section-heading-spacer {
    display: none;
  }
  #skills h2 {
    font-size: 25px;
  }
  #skills h3 {
    font-size: 22px;
  }
  .tech-container {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
  }
  .project {
    margin-top: 7%;
    opacity: 1;
  }
  .banner-social-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
  .intro-header, .banner {
    background-attachment: scroll;
  }
}

