body {
  position: relative;
  height: 100%;
}
.skills-hr {
  float: none;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.welcome {
  position: fixed;
  z-index: 100000;
  top: -20vh;
  right: 0;
  background: #fff;
  width: 100%;
  height: auto;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; 
}
.welcome.active {
  top: 0;
}
.welcome-container {
  width: 100%;

  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;  
}
.welcome-container .copy {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.dropdown-toggle {
  color: #777;
  text-decoration: none;
}
.dropdown-toggle:hover {
  color: #555
}
.dropdown:visited {
  text-decoration: none;
}

.container .topnav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;

}
.container .topnav, .navbar {
  min-height: 70px;
}
#myNavBar {
  opacity: .97;
  
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;  
}
#myNavBar.scrolling {
  opacity: .25;
}
.nav {
  margin: auto;
}
.name-contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;  
}
.name-contact ul {
  margin: 0 0 0 15px;
  padding: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
}
.name-contact .fa-fw {
  width: 2em;
}
.navbar-brand {
  color: #777;
  font-size: 4vh;
  font-weight: 300;
}
.navbar-nav>li>a {
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav .open > a {
  text-decoration: none;
  color: #555;
}
.navbar-toggle {
  margin-top: 20px;
}
.dropdown {
 padding: 25px;
 padding-right: 0;
}
.dropdown-menu {
  margin: 0;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1.2em;
  color: #777;
  font-weight: 500;
}
.navbar-collapse .glyphicon-download-alt {
  padding-left: 7px;
}
.content-overlay {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
}
.clear {
  background: rgba(0,0,0,0);
}
small {
  font-weight: 100;
  letter-spacing: .5px;
}
small:before {
  content: "* ";
  position: relative;
  top: 3.5px;
}
.intro-header {
  height: 100vh;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;

  background: url(../img/sunsetlarge.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.intro-message h1 {
  font-size: 8vh;  
}
.intro-message h3 {
  opacity: 1;
  font-size: 4vh;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;  
}
.intro-message h1, .intro-divider, .intro-social-buttons {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.intro-message h1.opaque, .opaque, #contact .row.opaque {
  opacity: 0
}
.intro-message h3.opaque {
  opacity: 0;
}
.intro-divider  {
  width: 10%;
}
.glyphicon-download-alt {
  padding-right: 5px;
}
.chevron-container {
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-animation: arrow 1.5s infinite ease-in-out;
  -moz-animation: arrow 1.5s infinite ease-in-out;
  -o-animation: arrow 1.5s infinite ease-in-out;
  animation: arrow 1.5s infinite ease-in-out;
}
.chevron {
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #ccc;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  cursor: pointer;

  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
}
.headshot-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  width: 50%;
}
.headshot {
  position: relative;
  width: 50vh;
  height: 50vh;
  color: #f8f8f8;
  background: url(../img/menew.jpg) no-repeat center center;
  background-size: cover;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0,.2);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
// .headshot:hover {
//   background-size: 105% 105%;
// }
.headshot:hover > .img-overlay {
  background: rgba(0,0,0,0);
}
.section-heading a {
  cursor: pointer;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;   
}
.section-heading.skills {
  margin-bottom: 0;
}
.section-heading a {
  font-weight: 100;
  font-size: 26px;
}
.tech-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
}
.tech-title h3 {
  font-weight: 300;
}
.tech-list {
  margin: 0;
  padding: 0;
}
.tech-list li {
  font-weight: 500;
}
.section-heading {
  letter-spacing: 1px;
  font-weight: 500;
}
.section-heading-spacer {
  display: none;
}
.lead {
  font-size: 2.25vh;
  font-weight: 100;
  letter-spacing: 1px;
}
#skills .col-lg-8 {
  width:  80%;
}
.project {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 0;
  /*opacity: .75;*/
  transition: all .5s;
}
.section-heading .github {
  margin-left: 2%;
}
.banner {
  height: 80vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.banner .row {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
}
.banner h2 {
  font-size: 8vh;
  margin-bottom: 5%;
}
footer {
  display: none;
}
#contact.banner {
  height: 110vh;
}
#contact .row {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;  
}
// .content-section-b a {
//   color: #00263e;
// }
.content-section-b a i {
  color: #00263E;
}
.content-section-a {
  background: #00263e;
  color: #fff;
}
.content-section-a h2.section-heading a {
  color: #fff;
}
.content-section-a i {
  color: #fff;
}
.section-heading:hover > a {
  color: #aa9666 !important;
}
.section-heading:hover > a {
  color: #aa9666 !important;
}
.btn-default {
  background: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 0;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;  
}
.btn-default > i {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;    
}
.btn-default:hover {
  background: #fff;
  color: #00263e;
}
.btn-default:hover > i{
  color: #00263e;
}
.navbar-default {
  background: #00263e;
  border-top-width: 0;
  color: #fff;
}
.navbar-default .navbar-brand,.fa-fw,.navbar-default .navbar-nav>li>a {
  cursor: pointer;
  color: #e7e7e7;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;   
}
.navbar-default .navbar-brand:hover,.fa-fw:hover,.navbar-default .navbar-nav>li>a:hover {
  color: #aa9666;
}
.navbar-default .navbar-nav>.active>a {
  background: #aa9666;
  color: #e7e7e7;
}
@media (min-width: 1200px) {
  .col-lg-offset-1, .col-lg-offset-2, .col-lg-5 {
    width: 50%;
  }
  .col-lg-offset-1, .col-lg-offset-2 {
    margin-left: 0;
  }
  .col-lg-6 {
    width:  auto;
  }
  .col-lg-8 {
    max-width: 90%;
  }
}
//Animations
@-webkit-keyframes arrow {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 80px;
  }
}
@-moz-keyframes arrow {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 80px;
  }
}
@-o-keyframes arrow {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 80px;
  }
}
@keyframes arrow {
  0% {
    bottom: 80px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 80px;
  }
}

//Breakpoints
@media(min-width: 768px) {
  #skills {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .name-contact ul {
    display: none;
  }
  .navbar>.container .navbar-brand {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 668px) {
  .welcome-container .copy {
    text-align: center;
    font-size: 1.25em;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .name-contact {
    display: none;
  }
  .navbar-brand.topnav {
    display: none;
  }
  .container>.navbar-collapse {
    margin-right: -30px;
    margin-left: -30px;
  }
  .container>.navbar-header {
    width: 20%;
    margin: auto;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    background: #e7e7e7;
    opacity: .5;
    -webkit-tap-highlight-color: rgba(0,0,0,.5);
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    width: 100%;
    height: 60px;
    margin: auto;
    padding-top: 10px;
    border-radius: 0;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: inherit;
  }
  .navbar-toggle .icon-bar {
    width: 100%;

    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;  
  }
  .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
  }
  .navbar-toggle.open .icon-bar {
    margin: 0;
  }
  .navbar-toggle.open .top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar-toggle.open .middle {
    display: none;
  }
  .navbar-toggle.open .bottom {
    position: relative;
    bottom: 2px;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .intro-message {
    padding-top: 0;
    padding-bottom: 40%;
  }
  .intro-divider {
    width: 20%;
  }
  .chevron {
    display: none;
  }
  .row {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content-section-a, .content-section-b {
    padding: 25px 0 45px 0;
  }
  .headshot-wrapper {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .headshot {
    width: 100%;
    height: 40vh;
  }
  #skills .col-lg-8 {
    width: 100%;
  }
  #skills h2 {
    font-size: 25px;
  }
  #skills h3 {
    font-size: 22px;
  }
  .tech-container {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
  }
  .project {
    margin-top: 7%;
    opacity: 1;
  }
  .banner-social-buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
  .intro-header, .banner {
    background-attachment: scroll;
  }
}

